[color]
  ui = auto
[alias]
  st = status
  di = diff
  ci = commit
  br = branch
  llog = log --date=local
	co = checkout
[rerere]
  enabled = true
[user]
	name = Adrian Leal
	email = alejandroleal228@hotmail.com
[core]
	editor = subl -w
